/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* Reset CSS3 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #e5e5e5;
  min-height: 100vh;
}

.navbar-logo {
  padding: 2.5rem /* 5.25rem */;
}

.main-column1 {
  padding: 0 1.5rem 1rem 5.25rem;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-control {
  /*     border: none; */
  background-color: transparent;
}

.main-column1-exclamation-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-column1-exclamation-flex p {
  margin: 0rem 1rem;
}

.main-column1-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1.5rem 0;
  gap: 0.5rem;
}

.main-column1-buttons button {
  height: 4.1875rem;
  width: 50%;
  border-radius: 1.5rem;
  padding: 1.5rem;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1875rem;
}

.main-column1-buttons-1 {
  background: #0a3871;
  border: none;
  border-radius: 1.5rem;
  color: #ffffff;
}
.main-column1-buttons-2 {
  background: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 1.5rem;
  color: #0a3871;
}

.main-column2 {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  height: 59rem;
  width: 25rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
}
