/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* Reset CSS3 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #e5e5e5;
  min-height: 100vh;
}

.main-row {
  padding: 2.5rem;
}

/* COLUMNA 1 */

.navbar-logo {
  padding: 2.5rem /* 5.25rem */;
  width: 100%;
}

.main-column1 {
  padding: 0 2.5rem 3rem 5.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* TEXTAREA  */ /* ARREGLAR ESTO */
.textarea1 {
  color: #0a3871;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  resize: none;
}

.label1 {
  font-size: 3rem;
  color: #0a3871;
  font-weight: 400;
}

.form-control {
  border: none;
  background-color: transparent;
}

.main-column1-exclamation-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0rem;
}

.main-column1-exclamation-flex p {
  margin: 0rem 1rem;
}

.main-column1-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
}

.main-column1-buttons-1,
.main-column1-buttons-2 {
  width: 50%;
  border-radius: 1.5rem;
  padding: 1.5rem;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1875rem;
  background: #0a3871;
  border: none;
  border-radius: 1.5rem;
  color: #ffffff;
}

.main-column1-buttons-2 {
  background: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 1.5rem;
  color: #0a3871;
}

.main-column2 {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1.5rem 2rem -0.5rem rgba(0, 0, 0, 0.08);
  border-radius: 2rem;
}

.main-column2-text {
  padding-top: 5rem;
}

.main-column2-button {
  background: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 1.5rem;
  color: #0a3871;
  width: 100%;
  padding: 1.5rem;
  align-self: flex-end;
  display: none;
}

.main-column2-div-button {
  width: 100%;
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
}

@media (min-width: 577px) and (max-width: 768px) {
  .main-column2 {
    margin-top: 3rem;
    padding: 2rem 1rem;
  }

  .main-column1,
  .main-column2-text,
  .main-column2-div-button {
    padding: 0rem;
  }

  .navbar-logo {
    padding: 2.5rem 0;
  }

  #imgDer {
    display: none;
  }

  .label1 {
    font-size: 2rem;
  }
}

@media (min-width: 375px) and (max-width: 576px) {
  .main-column2 {
    margin-top: 3rem;
    padding: 2rem 1rem;
  }

  .navbar-logo {
    padding: 2.5rem 0;
  }

  .main-column1,
  .main-column2-text,
  .main-column2-div-button {
    padding: 0rem;
  }

  #imgDer {
    display: none;
  }

  .label1 {
    font-size: 1rem;
  }
}
